* {
  background-color: #333;
  color: antiquewhite;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font: normal 1.6rem/1.7 sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  border: px dashed #222;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  padding: 0.5rem 1.5rem;
}

h3 {
  margin-top: 2em;
  color: aqua;
}

section {
  border: 1px solid rgba(153, 153, 153, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  padding: 1em 2em;
  margin: 0.5em;
  border: 1px dashed #fff;
  border-radius: 20px;
}
